[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flextable = {path = "."}
bumpversion = "*"
pip = "==18"
pyyaml = "*"

[requires]
python_version = "2.7"
